.side-sheet li:nth-child(3) a {
	color: #0078d4;
}

/* pagina */


.nav-container .nav-item:nth-child(3) a {
  color: #0078d4;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 89vh;
	width: auto;
	padding: 3vh;
	flex-direction: column;
	overflow: auto;
	box-sizing: border-box;
	background: linear-gradient(90deg, #041c4d, #3b616f, #041c4d, #3b616f);
	background-size: 300% 100%;
	animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
	0% {
			background-position: 0% 50%;
	}
	100% {
			background-position: 100% 50%;
	}
}


h2 {
	align-self: center;
	text-align: center;
	font-size: 7vh;
	padding: 3vh;
	margin-top: 2vh;
	color: #000;
	cursor: pointer;
}

p {
	cursor: pointer;
	text-align: justify;
	font-size: 3vh;
	margin-top: 2vh;
	color: #fff;
}