/* porque o comentario dessa merda é com asterisco meu deus */
/* como centralizar div google pesquisar */

.lexend-peta-fonte {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-deca-fonte {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fim dele */

body {
	transition: filter 0.3s ease-in-out;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  width: 100%;
	margin-left: 1vh;
}

select:focus {
  outline: none;
  border-color: #0078d4;
  box-shadow: 0 0 5px rgba(0, 120, 212, 0.5);
}

select:hover {
  border-color: #0078d4;
  box-shadow: 0 0 5px rgba(0, 120, 212, 0.5);
}

body.deuteranopia {
  filter: url(#deuteranopia);
}

body.protanopia {
  filter: url(#protanopia);
}

body.tritanopia {
  filter: url(#tritanopia);
}

/* padrão header*/
header {
	height: 11vh;
	width: auto;
	display: flex;
	justify-content: space-between;
	padding-right: 2vh;
}

header > a:first-of-type {
	margin-left: 11vh;
}

.logo {
	width: 11vh;
	height: auto;
	cursor: pointer;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	padding: 1vh;
	cursor: pointer;
}

.nav-item:nth-child(4)  {
	border-right: 0.4vh solid black;
	border-radius: 0.1vh;
}

.nav-item a {
	align-self: center;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 2vh;
	font-size: 2vh;
	transition: border 0.3s ease, color 0.3s ease, border-radius 0.4s ease-in-out;
}

.nav-container .nav-item:first-child a {
  color: #0078d4;
}

.nav-item a:hover {
	border-radius: 5vh;
	border: 1px solid rgba(0, 120, 212, 0.5);
	color: #0078d4;
	border-color: #0078d4;
  box-shadow: 0 0 9px rgba(0, 120, 212, 0.5);
}

.nav-icones {
	cursor: pointer;
	padding: 1vh;
}

.nav-icones img{
	width: 5vw;
	height: auto; 
	max-width: 30px;
	min-width: 10px;
	padding: 2vh;
	transition: border 0.3s ease, color 0.3s ease, border-radius 0.4s ease-in-out;
}

.nav-icones img:hover{
	border-radius: 1vh;
	border: 1px solid rgba(0, 120, 212, 0.5);
	color: #0078d4;
	border-color: #0078d4;
  box-shadow: 0 0 9px rgba(0, 120, 212, 0.5);
}
/* padrão header*/
