
.side-sheet li:nth-child(2) a {
	color: #0078d4;
}

/* pagina */

.nav-container .nav-item:nth-child(2) a {
  color: #0078d4;
}

.banner {
  position: relative;
  width: 80%;
	height: 11vh;
  margin: auto;
	border-radius: 8px;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}

.banner img {
	margin-top: 1vh;
  width: 100%;
  height: 11vh;
	object-fit: cover;
  display: block;
  border-radius: 8px;
	user-select: none;
	-webkit-user-drag: none;
}

.banner h3 {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 3rem;
	font-weight: bold;
  text-align: center;
}

section {
	display: flex;
	height: fit-content;
	width: auto;
	padding: 0.5vh;
	box-sizing: border-box;
}

.item {
	display: flex;
	flex-direction: column;
	height: 75vh;
	justify-content: start;
	padding: 1.5vh;
	flex: 1;
	box-sizing: border-box;
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
}

.item:hover {
  transform: scale(1.02); 
}

.item:hover img {
  transform: scale(1.0.2);
}

.item:hover h3 {
  transform: scale(1.02);
  color: #0078d4; 
}

.item:hover p {
  transform: scale(1.02);
}

.item:hover a {
  transform: scale(1.02);
  color: #0078d4;
  text-decoration: underline; 
}

.item img{
	width: 100%;
	height: 21vw;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
	user-select: none;
	-webkit-user-drag: none;
	cursor: pointer;
}

.item img,
.item h3,
.item p,
.item a{
	transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.item h3{
	padding: 1vh;
	font-size: 3vh;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}


.item p{
	text-align: left;
	padding: 1vh;
	font-weight: 200;
	font-size: 2.3vh;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.item a{
	color: black;
	text-decoration: none;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	font-style: none;
	padding: 1vh;
	font-size: 2.2vh;
	text-align: left;
}