/* padrão header*/
header {
	height: 11vh;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding-right: 2vh;
	padding-top: 0.2vh;
}

header > a:first-of-type {
	margin-left: 11vh;
	height: 100%;
	align-self: center;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	justify-content: center;
	font-size: 2vh;
	flex-direction: row;
	transition: padding 0.3s ease-out ,
		width 0.3s ease-out ,
		border 0.3s ease-out,
		color 0.3s ease-out,
		border-radius 0.4s ease-out,
		transform 0.3s ease-out,
		box-shadow 0.3s ease-out,
		margin-left 0.3s ease-out;
}

.logo {
	height: 100%;
	cursor: pointer;
}

.menu-button {
	display: none;
	align-self: center;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	padding: 1vh;
	cursor: pointer;
}

.nav-item:nth-child(4)  {
	border-right: 0.4vh solid black;
	border-radius: 0.1vh;
}

.nav-item a {
	align-self: center;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 2vh;
	font-size: 2vh;
	transition: border 0.3s ease-out,
	color 0.3s ease-out,
	border-radius 0.4s ease-out,
	transform 0.3s ease-out,
	box-shadow 0.3s ease-out,
	padding 0.3s ease-out;
}

.nav-item a:hover {
	border-radius: 1vh;
	border: 1px solid rgba(0, 120, 212, 0.5);
	color: #0078d4;
	border-color: #0078d4;
  box-shadow: 0 0 9px rgba(0, 120, 212, 0.5);
	transform: scale(1.05);
}

.nav-icones {
	cursor: pointer;
	padding: 1vh;
}

.nav-icones img{
	width: 5vw;
	height: 4vh; 
	max-width: 30px;
	min-width: 10px;
	padding: 2vh;
	transition: border 0.3s ease-out,
	color 0.3s ease-out,
	border-radius 0.4s ease-out,
	transform 0.3s ease-out,
	box-shadow 0.3s ease-out;
}

.nav-icones img:hover{
	border-radius: 1vh;
	border: 1px solid rgba(0, 120, 212, 0.5);
	color: #0078d4;
	border-color: #0078d4;
  box-shadow: 0 0 9px rgba(0, 120, 212, 0.5);
	transform: scale(1.05);
}
/* padrão header*/

@media only screen and (max-height: 1080px) {
	header {
		height: 9vh;
	}
}

@media only screen and (max-width: 590px) {
	header {
		height: 11vw;
	}
	
	.logo {
		width: 11vw;
	}

}

@media only screen and (max-height: 500px) {
	.nav-item a {
		font-size: 3vh;
	}

	select {
		font-size: 3vh;
	}
}

@media only screen and (max-height: 330px) {
	.nav-item a {
		font-size: 3vh;
	}
}