/* side-sheet */

.side-sheet {
	display: none;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 250px;
  background: #ffffff;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
	z-index: 2;
}

.close-button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  cursor: pointer;
	text-align: right;
	padding: 1vh;
}

.side-sheet a {
	align-self: center;
	color: black;
	text-decoration: none;
	text-align: left;
	padding: 2vh;
	font-size: 2vh;
	transition: border 0.3s ease-out,
	color 0.3s ease-out,
	border-radius 0.4s ease-out,
	transform 0.3s ease-out,
	box-shadow 0.3s ease-out,
	padding 0.3s ease-out;
}

.side-links {
  list-style: none;
  padding: 2vh;
	flex-direction: column;
}

.side-links li {
	display: flex;
}

.side-links li:active {
	background-color: none;
}

.side-links li a {
	font-size: 2.4vh;
	padding: 2vh;
	height: fit-content;
	width: 100%;}

#sideColorBlindness {
	display: flex;
	margin: 0vh;
	color: black;
	font-size: 2.3vh;
}

.side-sheet li:nth-child(4) a {
	margin-bottom: 4vh;
}

.side-links a {
	color: black;
	text-decoration: none;
}

.side-links img {
  width: 2vh;
	height: 2vh;
	padding: 0.3vh;
	background-color: none;
}

.side-images {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 4vh;
	cursor: pointer; 
}

.side-links img:active{
	border-radius: 0.3vh;
	border: 1px solid rgba(0, 120, 212, 0.5);
	color: #0078d4;
	border-color: #0078d4;
  box-shadow: 0 0 9px rgba(0, 120, 212, 0.5);
	transform: scale(2);
}

/* fim */