/* TELAS*/

@media only screen and (max-width: 867px) {
	header > a:first-of-type {
		margin-left: 5vh;
	}

  .nav-icones img{
		width: 3vw;
		padding: 1vh;
	}
}

@media only screen and (max-width: 747px) {
	.nav-item a {
		padding: 1vh;
	}
}

@media only screen and (max-width: 688px) {
	.nav-item a {
		padding: 0vh;
	}
}

@media only screen and (max-width: 626px) {

	.nav-container {
		display: none;
	}

	.side-sheet a:hover {
		border-radius: 4vh;
		border: 1px solid rgba(0, 120, 212, 0.5);
		color: #0078d4;
		border-color: #0078d4;
		box-shadow: 0 0 9px rgba(0, 120, 212, 0.5);
		transform: scale(1.05);
	}

  .menu-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }

	.menu-button img{
    width: 7vw;
  }

	.side-images img{
		transform: scale(2.5);
	}

	.nav-icones img:hover{
		transform: scale(2.05);
	}
	
}

/* TELAS*/